<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="/css/projects.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <title>Snyk Demo App</title>
  </head>
  <body>
    <%- include('./partials/topnav.ejs') %>
    <div>
      <h2 class="snyk-main-headings">Admin</h2>
      <h5 class="install-count">Install count: <%= installs.length %></h5>
    </div>
      <% if(installs.length === 0){ %>
      <div class="no-installs-box">No installs available</div>
      <% } else { %>
        <div class="snyk-center-box"></div>
      <% for(var i=0; i < installs.length; i++){ %>
        <div class="snyk-project-holder">
          <div class="project-holder-left">
            <p class="project-element">Org Id: <%= installs[i].orgId %></p>
            <p class="project-element">Org Name: <%= installs[i].orgName %></p>
          </div>
        </div>
      <% } %>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>