<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/topnav.ejs') %>

  <div class="admin-page">
    <ul class="sidebar-nav">
      <!-- TODO add nav links and update select to be dynamic -->
      <li class="sidebar-nav__item">
        <img class="sidebar-nav__icon" src="images/book-multiple.svg" alt="" />
        <p class="sidebar-nav__text" onclick="location.href='/projects';">Projects</p>
      </li>
      <li class="sidebar-nav__item">
        <img class="sidebar-nav__icon" src="images/cog.svg" alt="" />
        <p class="sidebar-nav__text" onclick="location.href='/settings';">Settings</p>
      </li>
      <li class="sidebar-nav__item sidebar-nav__item-selected">
        <img class="sidebar-nav__icon" src="images/wrench.svg" alt="" />
        <p class="sidebar-nav__text" onclick="location.href='/admin';">Admin</p>
      </li>
    </ul>
    <div class="admin-page__content">
      <div class="admin-page__description">
        <img class="admin-page__logo" src="images/avatar.svg" alt="" />
        <div class="admin-page__heading">
          <h1 class="admin-page__title">Demo App</h1>
          <p class="admin-page__text">This is a representation of data you could store in a database.</p>
        </div>
      </div>
      <h3 class="admin-page__sub-heading">Installations</h3>
      <% if(installs.length === 0){ %>
      <div class="no-installs-box">No installs available</div>
      <% } else { %>
      <table class="admin-page__table">
        <thead>
          <tr class="admin-page__table-row">
            <th scope="col" class="admin-page__table-row--head">Organization name</th>
            <th scope="col" class="admin-page__table-row--head">Organization ID</th>
            <th scope="col" class="admin-page__table-row--head">Date installed</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < installs.length; i++) { %>
          <tr class="admin-page__table-row">
            <td class="admin-page__table-row--body"><%= installs[i].orgName %></td>
            <td class="admin-page__table-row--body"><%= installs[i].orgId %></td>
            <td class="admin-page__table-row--body"><%= installs[i].date %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %> <%- include('./partials/footer.ejs') %>
    </div>
  </div>
</body>
