<%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/topnav.ejs') %>

    <div>
      <h2 class="main__heading">Snyk Demo App</h2>
    </div>
    <div class="error-page__container-box">
        <img class="error-page__img" src="/public/images/snyk_error.svg" alt="error">
        <h3 class="error-page__sub-heading">Error Occurred</h3>
        <% if (errorCode) {%>
          <br>
          <p class="error-page__text">Error Code: <%= errorCode %></p>
          <br>
        <% } %>
        <p class="error-page__text">Error Message: <%= errorMessage %></p>
    </div>
    
      
    </div>
    <%- include('./partials/footer.ejs') %>
